.select-container {
    margin-top: 30px;
    margin-bottom: 10px;
}
.main-container {
    display: flex;
    justify-content: space-around;
}
.result-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.btn-container button {
    margin: 10px;
    width: 100px;
    height: 50px;
}
.foot-container {
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 50px;
    left: 0;
}
.foot-container p {
    text-align: center;
}
.input-area {
    height: 280px;
    width: 280px;
}